@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Caveat+Brush');

/* COLOURS */
$black: #010000;
$white: #ffffff;
$lightGrey: #d0cfcf;
$darkGrey: #4f4f4f;
$red: #ff1755;
$oceanBlue: #17abff;

$global-font-size: 16px;

@mixin translateY($e) {
  -webkit-transform: translateY($e);
  -moz-transform: translateY($e);
  transform: translateY($e);
}

@mixin transition($e) {
  -webkit-transform: translateY($e);
  -moz-transform: translateY($e);
  transform: translateY($e);
}

@mixin post-cover-css {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-attachment: fixed;

  h4 {
    color: $white;
    font-weight: bold;
    text-transform: uppercase;
  }

  h1 {
    font-weight: bold;
    color: $black;
  }
}

@mixin post-content-css {
  margin: 50px 100px;
  text-align: justify;
  line-height: 28px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: $global-font-size;
  color: $black;
  font-weight: 400;
  font-style: normal;
}

li {
  text-decoration: none;
}

a {
  text-decoration: none;
  @include transition(.4s ease-in-out);
  cursor: pointer;

  &:hover {
    color: $oceanBlue;
    text-decoration: none;
    @include transition(.4s ease-in-out);
  }

  &:active {
    text-decoration: none;
    color: $oceanBlue;
  }
}

.container-fluid {
  line-height: 24px;
}
