@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Caveat+Brush');

/* COLOURS */
$black: #010000;
$white: #ffffff;
$lightGrey: #d0cfcf;
$darkGrey: #4f4f4f;
$red: #ff1755;
$oceanBlue: #17abff;

@mixin translateY($e) {
  -webkit-transform: translateY($e);
  -moz-transform: translateY($e);
  transform: translateY($e);
}

@mixin transition($e) {
  -webkit-transform: translateY($e);
  -moz-transform: translateY($e);
  transform: translateY($e);
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: $black;
  font-weight: 400;
  font-style: normal;
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  @include transition(.4s ease-in-out);
  cursor: pointer;

  &:hover {
    color: $oceanBlue;
    text-decoration: none;
    @include transition(.4s ease-in-out);
  }

  &:active {
    text-decoration: none;
    color: $oceanBlue;
  }
}

.container-fluid {
  line-height: 24px;
}
