@import "_config.scss";
@import "../bootstrap/_functions.scss";
@import "../bootstrap/_variables.scss";
@import "../bootstrap/mixins/_breakpoints.scss";

/*
// Mobiles
@include media-breakpoint-between(xs, sm) { ... }

// Tablets and Desktops
@include media-breakpoint-between(md, xl) { ... }
*/

* {
  border: 0;
  padding: 0;
  margin: 0;
}

header {
  display: inline-block;
  width: 100%;
  height: 130px;
  background: rgba($white, 0.8);

  .site-name {
    width: 90%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    text-align: center;
    @include translateY(-50%);

    li {
      #menu-link {
        float: left;
        font-size: 16px;
        color: $lightGrey;
        @include translateY(-250%);

        &:hover {
          color: $black;
          transition: all 0.2s ease-in;
        }
      }
    }
  }
}

/** HOME PAGE **/
body {
  .tips-list {
    display: grid;
    width: 100%;

    @include media-breakpoint-between(xs, sm) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include media-breakpoint-between(md, xl) {
      grid-template-columns: repeat(3, 1fr);
    }

    text-align: center;
    justify-content: center;

    // Grid background images
    div {
      background-size: 100%;
      overflow: hidden;
      object-fit: cover;

      @include media-breakpoint-between(xs, sm) {
        height: 25vh;
      }
      @include media-breakpoint-between(md, xl) {
        height: 50vh;
      }

      // Numbers
      h2 {
        font-family: "Caveat Brush", cursive;
        font-weight: bold;
        color: $white;

        @include media-breakpoint-between(xs, sm) {
          font-size: 3em;
          padding-top: 30px;
        }
        @include media-breakpoint-between(md, xl) {
          font-size: 3.75em;
          padding: 10px 24px;
          padding-top: 90px;
        }
      }

      // Headings
      p {
        font-weight: bold;
        color: $white;
        text-align: 1px 1px 2px $darkGrey;
        word-wrap: break-word;

        @include media-breakpoint-between(xs, sm) {
          font-size: 1.35em;
          padding: 5px 10px;
        }
        @include media-breakpoint-between(md, xl) {
          font-size: 1.7em;
          padding: 10px 15px;
        }
      }
      //Show white border when hover on each box
      &:hover {
        border: 2px solid $white;
        border-bottom-width: 4px;
        cursor: pointer;
        transition: all 0.2s ease-in;
      }
    }
  }

  .tip {
    li {
      list-style: none;
    }
  }

  //Instagram feed
  .instagram-profile-title {
    overflow: hidden;
    text-align: center;
    font-size: 1.2em;
    font-weight: bolder;
    color: $dark;
    padding: 45px 0 20px 0;

    &:before,
    &:after {
      background-color: #ededed;
      content: "";
      display: inline-block;
      height: 2px;
      position: relative;
      vertical-align: middle;
      width: 30%;
    }

    &:before {
      right: 2em;
      margin-left: -50%;
    }

    &:after {
      left: 2em;
      margin-right: -50%;
    }
  }

  .lightwidget-widget {
    overflow: hidden;
    border: 0;
    display: block;
    margin: 0 auto 0 auto;
  }
}

/** BLOG POSTS **/
.blog-cover {
  width: 100%;
  height: 35vh;
  background-color: $lightGrey;
  justify-content: center;
  text-align: center;

  #cover-image {
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
  }

  // Numbers
  h4 {
    font-family: "Caveat Brush", cursive;
    font-size: 3.125em;
    font-weight: bold;
    color: $white;
    padding-top: 10vh;
  }

  //Headings
  h2 {
    color: $white;
    font-weight: bold;
  }
}

.post-content {
  width: 80%;
  font-size: 17px;
  line-height: 1.8;
  text-align: left;
  word-wrap: break-word;

  position: relative;
  top: 4em;
  left: 10%;
  margin-bottom: 7em;

  h4 {
    text-align: center;
    font-weight: bold;
  }
  ul li {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
  }

  // TIPS
  .tip5-product-list {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-left: 20%;

    ul li {
      text-align: left;
    }
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  // CUSTOM STYLING FOR POSTS
  // Tip 7
  #google-maps {
    justify-content: center;
    width: 100%;
    height: 700px;
  }

  .tip10-books-list {
    display: grid;

    @include media-breakpoint-between(xs, sm) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include media-breakpoint-between(md, xl) {
      grid-template-columns: repeat(5, 1fr);
    }

    img {
      width: 80%;
      //enlarge on hover
      &:hover {
        transition: transform 0.2s;
        transform: scale(1.1);
      }
    }

    figcaption {
      text-align: center;
      font-size: smaller;
      padding-right: 2em;
      padding-top: 1.3em;
    }
  }

  //center and resize images depending on their size
  .centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  @include media-breakpoint-between(xs, sm) {
    $width-var: 100%;

    .tip1-illustration {
      width: $width-var;
    }
    .tip2-illustration {
      width: $width-var;
    }
    .tip3-illustration {
      width: $width-var;
    }
    .tip4-illustration {
      width: $width-var;
    }
    .tip6-title1-image {
      width: $width-var;
    }
    .tip7-illustration {
      width: $width-var;
    }
    .tip8-illustration {
      width: $width-var;
    }
    .tip9-illustration {
      width: $width-var;
    }
    .tip11-illustration {
      width: $width-var;
    }
    .tip12-illustration {
      width: $width-var;
    }
  }

  @include media-breakpoint-between(md, xl) {
    $width-var: 70%;

    .tip1-illustration {
      width: $width-var;
    }
    .tip2-illustration {
      width: $width-var;
    }
    .tip3-illustration {
      width: $width-var;
    }
    .tip4-illustration {
      width: $width-var;
    }
    .tip6-title1-image {
      width: $width-var;
    }
    .tip7-illustration {
      width: 90%;
    }
    .tip8-illustration {
      width: 80%;
    }
    .tip9-illustration {
      width: 40%;
    }
    .tip11-illustration {
      width: 40%;
    }
    .tip12-illustration {
      width: 65%;
    }
  }
}

/** PAGES: ABOUT **/
.pages {
  text-align: center;
  margin-bottom: 7em;

  h1 {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    color: $lightGrey;
  }

  #about-subtitle {
    text-align: left;
    font-weight: bold;
  }
}

/** NAVIGATION **/
.blog-navigation {
  height: 100px;
  position: relative;
  text-align: center;

  li {
    font-size: 18px;
    font-weight: lighter;
    display: inline-block;
    padding-right: 40px;
    margin-top: 25px;
    margin-bottom: 25px;

    a {
      color: $lightGrey;
      &:hover {
        color: $black;
        transition: all 0.2s ease-in;
      }
    }
  }
}

/** FOOTER **/
footer {
  position: relative;
  width: 90%;
  height: 50px;
  background-color: $white;
  margin-left: 4%;

  //Tablets and desktops
  @include media-breakpoint-between(md, xl) {
    $margin-left: 20px;
    font-size: 16px;

    nav ul {
      margin-top: 30px;

      .footer-links {
        li {
          display: inline-block;
          float: left;
          margin-left: $margin-left;
        }
      }

      .social-media-links {
        li {
          display: inline-block;
          float: left;
          margin-left: $margin-left;

          a {
            .email-icon,
            .facebook-icon,
            .twitter-icon {
              path:hover {
                fill: black;
                transition: all 0.2s ease-in;
              }
            }
          }
        }
      }

      #author-link {
        float: right;
        color: $lightGrey;
      }

      a {
        color: $lightGrey;

        &:active {
          color: $oceanBlue;
        }
        &:hover {
          transition: all 0.2s ease-in;
          color: $black;
        }
      }
    }
  }

  //Mobiles
  @include media-breakpoint-between(xs, sm) {
    height: 120px;
    font-size: 15px;
    $margin-left: 10px;

    nav ul {
      margin-top: 30px;

      .footer-links {
        margin-left: 25%;

        li {
          display: inline-block;

          margin-left: $margin-left;
        }
      }

      .social-media-links {
        margin-top: 10px;
        margin-left: 35%;

        li {
          display: inline-block;
          margin-left: $margin-left;

          a {
            .email-icon,
            .twitter-icon {
              path:hover {
                fill: black;
                transition: all 0.2s ease-in;
              }
            }
          }
        }
      }

      #author-link {
        float: center;
        margin-left: 33%;
        margin-top: 20px;
        color: $lightGrey;
      }

      a {
        color: $lightGrey;
      }
    }
  }
}
