@import "_config.scss";

* {
    border: 0;
    padding: 0;
    margin: 0;
}

header {
  position: relative;
  display: block;
  width: 100%;
  height: 130px;
  background: rgba($white, 0.8);

  .site-name {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
    @include translateY(-50%);

    li {
      list-style: none;

      a {
        color: $black;

        &:hover {
          color: $red;
        }
      }

    }
  }

}

body {
  .tips-list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    justify-content: center;

    div {
      height: 50vh;
      background-size: 100%;
      overflow: hidden;

      &:hover {
        border: 4px solid $white;
        cursor: pointer;
      }

      h2 {
        font-family: 'Caveat Brush', cursive;
        font-size: 60px;
        font-weight: bold;
        color: $white;
        padding: 10px 24px;
        padding-top: 90px;
      }

      p {
        font-size: 25px;
        font-weight: bold;
        color: $white;
        text-align: 1px 1px 2px $darkGrey;
        word-wrap: break-word;
        padding: 10px 15px;
      }
    }
  }

  .tip {
    li {
      list-style: none;
    }
  }
}

/** BLOG POSTS **/
article {
  #tip1-post-cover {
    @include post-cover-css;
  }

  #post-content {
    @include post-content-css
  }
}

footer {
  position: relative;
  width: 100%;
  height: 100px;
  font-size: 17px;
  text-align: center;
  background-color: $white;

  nav ul li {
      display: inline-block;
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
      padding-right: 40px;

      a {
        color: $lightGrey;

        &:active {
          color: $oceanBlue;
        }
      }

  }

}
