@import "_config.scss";

* {
    border: 0;
    padding: 0;
    margin: 0;
}

header {
  position: relative;
  display: block;
  width: 100%;
  height: 130px;
  background: rgba($white, 0.8);

  .site-name {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    text-align: center;
    @include translateY(-50%);
  }
}

body {
  .tips-list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    justify-content: center;

    div {
      height: 50vh;
      background-size: 100%;
      overflow: hidden;
      object-fit: cover;

      &:hover {
        border: 4px solid $white;
        border-bottom-width: 8px;
        cursor: pointer;
      }

      h2 {
        font-family: 'Caveat Brush', cursive;
        font-size: 60px;
        font-weight: bold;
        color: $white;
        padding: 10px 24px;
        padding-top: 90px;
      }

      p {
        font-size: 25px;
        font-weight: bold;
        color: $white;
        text-align: 1px 1px 2px $darkGrey;
        word-wrap: break-word;
        padding: 10px 15px;
      }
    }
  }

  .tip {
    li {
      list-style: none;
    }
  }
}

/** BLOG POSTS **/
.blog-cover {
  width: 100%;
  height: 35vh;
  background-color: $lightGrey;
  justify-content: center;
  text-align: center;

  #cover-image {
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
  }

  h4 {
    font-family:'Caveat Brush', cursive;
    font-size: 50px;
    font-weight: bold;
    color: $white;
    padding-top: 10vh;
  }

  h2 {
    color: $white;
    font-weight: bold;
  }
}

.post-content {
  width: 80%;
  font-size: 17px;
  line-height: 1.6;
  text-align: left;
  word-wrap: break-word;

  position: relative;
  top: 4em;
  left: 10%;
  margin-bottom: 7em;

  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/** PAGES: ABOUT and CONTACT **/
.pages {
  text-align: center;
  margin-bottom: 7em;

  h1 {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    color: $lightGrey;
  }
}

/** PAGINATION **/
.blog-pagination {
  height: 4em;
  position: relative;
  text-align: center;

  li {
    font-size: 18px;
    font-weight: lighter;
    display: inline-block;
    margin-top: 25px;

    a {
      color: $lightGrey;

      &:hover {
        color: $oceanBlue;
      }
    }
  }
}

/** FOOTER **/
footer {
  position: relative;
  width: 100%;
  height: 100px;
  font-size: 17px;
  text-align: center;
  background-color: $white;

  nav ul li {
      display: inline-block;
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
      padding-right: 40px;

      a {
        color: $lightGrey;

        &:active {
          color: $oceanBlue;
        }
      }

  }

}
