@import "_config.scss";

* {
    border: 0;
    padding: 0;
    margin: 0;
}

header {
  position: relative;
  display: block;
  width: 100%;
  height: 130px;
  background: rgba($white, 0.8);

  .site-name {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    text-align: center;
    @include translateY(-50%);
  }
}

/** HOME PAGE **/
body {
  .tips-list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    justify-content: center;

    div {
      height: 50vh;
      background-size: 100%;
      overflow: hidden;
      object-fit: cover;

      &:hover {
        border: 4px solid $white;
        border-bottom-width: 8px;
        cursor: pointer;
      }

      h2 {
        font-family: 'Caveat Brush', cursive;
        font-size: 3.75em;
        font-weight: bold;
        color: $white;
        padding: 10px 24px;
        padding-top: 90px;
      }

      p {
        font-size: 1.7em;
        font-weight: bold;
        color: $white;
        text-align: 1px 1px 2px $darkGrey;
        word-wrap: break-word;
        padding: 10px 15px;
      }
    }
  }

  .tip {
    li {
      list-style: none;
    }
  }
}

/** BLOG POSTS **/
.blog-cover {
  width: 100%;
  height: 35vh;
  background-color: $lightGrey;
  justify-content: center;
  text-align: center;

  #cover-image {
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
  }

  h4 {
    font-family:'Caveat Brush', cursive;
    font-size: 3.125em;
    font-weight: bold;
    color: $white;
    padding-top: 10vh;
  }

  h2 {
    color: $white;
    font-weight: bold;
  }
}

.post-content {
  width: 80%;
  font-size: 17px;
  line-height: 1.8;
  text-align: left;
  word-wrap: break-word;

  position: relative;
  top: 4em;
  left: 10%;
  margin-bottom: 7em;

  #post-content-note {
    font-style: italic;
    color: $lightGrey;
    text-align: center;
  }

  .tip5-product-list {
    display: grid;
    grid-template-columns: 1fr 3fr;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

/** PAGES: ABOUT **/
.pages {
  text-align: center;
  margin-bottom: 7em;

  h1 {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    color: $lightGrey;
  }

  #about-subtitle {
    color: #B6C2D9;
    font-style: italic;
  }
}

/** NAVIGATION **/
.blog-navigation {
  height: 4em;
  position: relative;
  text-align: center;

  li {
    font-size: 18px;
    font-weight: lighter;
    display: inline-block;
    padding-right: 40px;
    margin-top: 25px;
    margin-bottom: 25px;


    a {
      color: $lightGrey;

      &:hover {
        color: $pink;
      }
    }
  }
}

/** FOOTER **/
footer {
  position: relative;
  width: 90%;
  height: 50px;
  font-size: 16px;
  background-color: $white;
  margin-left: 5%;

  nav ul {
    margin-top: 30px;

    li {
      display: inline-block;
      float: left;
    }

    #author-mark{
      float: right;
      color: $lightGrey;
    }

    a {
      color: $lightGrey;

      &:active {
        color: $oceanBlue;
      }
    }
  }

}
