@import "_config.scss";

* {
    border: 0;
    padding: 0;
    margin: 0;
}

header {
  position: relative;
  display: block;
  width: 100%;
  height: 170px;
  background: rgba($white, 0.8);

  .site-name {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
    @include translateY(-50%);

    li {
      list-style: none;

      a {
        color: $black;

        &:hover {
          color: $red;
        }
      }

    }
  }

}

body {
  .tips-list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    justify-content: center;

    div {
      height: 50vh;

      h2 {
        font-size: 60px;
        font-weight: bold;
        padding: 10px 24px;
        padding-top: 30px;
      }

      p {
        font-size: 27px;
        word-wrap: break-word;
        padding: 10px 15px;

        &#read-more-link {
          font-size: 20px;
          position: fixed;

        }
      }

      &:nth-child(1) {
        background-image: url(../../img/sea-and-starfish.jpg);
        background-size: cover;
      }
      &:nth-child(2) {
      }
      &:nth-child(3) {
          background-color: $lightGrey;
      }
      &:nth-child(4) {
      }
      &:nth-child(5) {
          background-color: $lightGrey;
      }
      &:nth-child(6) {
      }
      &:nth-child(7) {
          background-color: $lightGrey;
      }
      &:nth-child(8) {
      }
      &:nth-child(9) {
          background-color: $lightGrey;
      }
    }

  }
}

/** BLOG POSTS **/
article {
  #tip1-post-cover {
    @include post-cover-css;
    background-image: url(../../img/sea-and-starfish.jpg);
  }

  #post-content {
    @include post-content-css
  }
}

footer {
  position: relative;
  width: 100%;
  height: 100px;
  font-size: 17px;
  text-align: center;
  border-top: 1px solid $lightGrey;

  nav ul li {
      display: inline-block;
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
      padding-right: 40px;

      a {
        color: $lightGrey;

        &:active {
          color: $oceanBlue;
        }
      }

  }

}
